.search-box{
 -fx-background-color: #FFFFFF;
 -fx-background-radius: 100;
}
.transparent {
 -fx-background-color: rgba(0,0,0,0);
}
.search-button{
-fx-background-color: #828282;
-fx-background-radius: 30;
}

.right-bar{
-fx-background-color: #34699A;
}

.shadow {
-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,1), 10.0, 0, 0, 10.0);
}

.ORDER-BOX{
-fx-background-color: #FFCF71;
-fx-background-radius: 48px 0;
}

.combo{
-fx-background-color: rgba(255,255,255,0.5);
-fx-background-radius: 30;
}

.listView{
-fx-background-radius: 30;
}

.ORDER-BUTTON{
-fx-background-color: #FFFFFF;
-fx-background-radius: 50;
}

.INV-CARD{
-fx-background-color: #FFE797;
-fx-background-radius: 48px 0;
}

.menu{
-fx-background-color: #FCC61D;
-fx-background-radius: 32px;
}